<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href={{ site.baseurl }}/css/main.css>
    <meta name="viewport"  content="width=device-width, initial-scale=1">
  </head>


  <body>
    <header>
      {% include navbar.html %}
      <h1>Web Programming 2022</h1>
      <div id="logo">
        <a href="http://www.dieei.unict.it/corsi/l-8-inf">
          <img src="/web-programming-course/imgs/logo.png" alt="logo">
        </a>
      </div>
    </header>
    
    <nav>
    <ul>
      <li><a href={{ site.baseurl }}>Home</a></li>
      <li><a href={{ site.baseurl }}/lezioni>Lezioni</a></li>
    </ul>
  </nav>
    
    <div class="container">

      {{ content }}

    </div>
  
    <footer>
      <div class="footer">
        <p>2022 - Built by <a href="http://www.perceivelab.com/index">the PeRCeiVe Lab</a></p>
      </div>
    </footer>
  </body>

</html>
